@keyframes rolling {
    0% {
        transform: translateZ(-100px) rotateY(0deg);
    }
    20% {
        transform: translateZ(-100px) rotateX(90deg);
    }
    40% {
        transform: translateZ(-100px) rotateY(-180deg);
    }
    60% {
        transform: translateZ(-100px) rotateY(-90deg);
    }
    80% {
        transform: translateZ(-100px) rotateX(-90deg);
    }
    100% {
        transform: translateZ(-100px) rotateY(90deg);
    }
}
@keyframes roll {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    33% {
        transform: rotateX(720deg) rotateY(540deg) rotateZ(360deg);
    }
    66% {
        transform: rotateX(1440deg) rotateY(1080deg) rotateZ(720deg);
    }
    100% {
        transform: rotateX(2160deg) rotateY(1620deg) rotateZ(1080deg);
    }
}